#忽略windows生成的缩略图文件
Thunbs.db
#忽略Visual Studio生成时的产生的文件
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vfproj
*_i.c
*_p.c
*.u2d
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
#忽略程序运行产生的data文件
*.data
fort.*

